<ion-content>
  <div class="container">
    <ion-label style="font-family: monospace; font-size: 2em; font-weight: 900"
      >Create Task</ion-label
    >
    <div close="close-icon" class="close" (click)="dismissmodal()">
      <ion-icon name="close" ></ion-icon>
    </div>
  </div>
  <form [formGroup]="todoForm" (ngSubmit)="Submit()">
    <ion-card>
      <ion-item>
        <ion-input placeholder="Task Name" formControlName="Title"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-textarea  rows="5" placeholder="Enter the description" formControlName="description"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-select label="Periority" formControlName="Periority">
          <ion-select-option *ngFor="let Per of periority" [value]="Per" >{{Per}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-list>
      <ion-item>
        <ion-label>
          day
        </ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-icon name="calendar-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          start
        </ion-label>
        <ion-datetime-button datetime="start"></ion-datetime-button>
        <ion-icon name="time"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>
          end
        </ion-label>
        <ion-datetime-button datetime="end"></ion-datetime-button>
        <ion-icon name="time"></ion-icon>
      </ion-item>
    </ion-list>
    
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [presentation]="'date'" id="datetime" formControlName="setDate"></ion-datetime>
      </ng-template>
    </ion-modal>
    
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [presentation]="'time'" id="start" displayFormat="h:mm" formControlName="startTime"></ion-datetime>
      </ng-template>
    </ion-modal>
    
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [presentation]="'time'" id="end" displayFormat="h:mm" formControlName="endTime"></ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-card>
      <app-styling></app-styling>
    </ion-card>
    
    <div class="SubmitButton">
      <ion-button size="medium" style="--background: rgba(58, 21, 78, 0.922);" (click)="Submit()">
        <ion-text style="color: antiquewhite;">
          Submit
        </ion-text>
      </ion-button>
    </div>
    
  </form>
</ion-content>
